<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logconsole" xsi:type="Console" layout="${date}|${logger}| ${message} ${exception:format=tostring}" />
    <target name="file" xsi:type="File" fileName="${basedir}/logs/Log.info.txt"
          layout="${date}|${logger}| ${message} ${exception:format=tostring}"
          archiveFileName="${basedir}/logs/archives/log.info.${shortdate}.txt"
          archiveAboveSize="52428800"
          archiveNumbering = "Rolling"
          maxArchiveFiles="7"
          concurrentWrites="false" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>
